---
import { IHeroProps } from "@types";

const { name, about } = Astro.props as IHeroProps;
---

<section>
  <p class="mt-[117px] dark:text-light">Hey, I’m</p>
  <h1>{name}</h1>
  <p class="mb-16 text-lg dark:text-light">
    {about}
  </p>
</section>
